<%- include('./templates/header.ejs') %>
    
<%- include('./templates/nav-otros.ejs') %>

        <main class="main">

            <section class="grid-container-main">

                <h2 class="title"> <%= title %> </h2>

                <p class="text"> <%= text %> </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="celda-servicio">Servicio</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if (servicios.length > 0) { %>
                         
                            <% servicios.forEach((item) => { %>
                            <tr>
                                <td class="celda-servicio"> <%= item.servicio %> </td>
                                <td> <%= item.descripcion %> </td>
                            </tr>
                            <tr>
                                <td><a href="/admin/servicios/editar/<%= item._id %>">Editar</a></td>
                                <td><a href="/admin/servicios/eliminar/<%= item._id %>">Eliminar</a></td>
                            </tr>
                            <% }) %>

                        <% } else { %>

                            <tr>

                                <td colspan="2"> No hay servicios disponibles en este momento… </td>

                            </tr>
                         
                        <% } %>

                    </tbody>
                </table>

            </section>

        </main>

<%- include('./templates/footer.ejs') %>