<%- include('./templates/header.ejs') %>

<%- include('./templates/nav-otros.ejs') %>

        <main class="main">
            <section class="grid-container-main">
                <h2 class="title"> <%= error %> </h2>
                <p class="text"> <%= msg %> </p>
            </section>
        </main>

<%- include('./templates/footer.ejs') %>