<%- include('./templates/header.ejs') %>

<body>
    
    <header>

        <%- include('./templates/nav-otros.ejs') %>

    </header>

    <main>

        <h1> <%= title %> </h1>

        <p> <%= text %> </p>

    </main>

    <%- include('./templates/footer.ejs') %>

</body>