
<%- include('./templates/header.ejs') %>

<body>

    <header>

        <%- include('./templates/nav-index.ejs') %>
        
    </header>

    <main>

        <h1> <%= title %> </h1>

        <p> <%= text %> </p>

    </main>

</body>

<%- include('./templates/footer.ejs') %>