<%- include('./templates/header.ejs') %>

<%- include('./templates/nav-otros.ejs') %>

        <main class="main">
            
            <section class="grid-container-main">

                <h2 class="title"> <%= title %> </h2>

                <p class="text"> <%= text %> </p>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th>Ciudad</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% locations.forEach((item) => { %>
                        <tr>
                            <td> <%= item.pais %> </td>
                            <td> <%= item.ciudad %> </td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>

            </section>

        </main>

<%- include('./templates/footer.ejs') %>