<%- include('./templates/header.ejs') %>
    
<%- include('./templates/nav-otros.ejs') %>

    <main>

        <h1> <%= title %> </h1>

        <p> <%= text %> </p>

        <section class="container">

            <table>
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <%= servicios[0].servicio %> </td>
                        <td> <%= servicios[0].descripcion %> </td>
                    </tr>
                    <tr>
                        <td> <%= servicios[1].servicio %> </td>
                        <td> <%= servicios[1].descripcion %> </td>
                    </tr>
                </tbody>
            </table>

            </section>

    </main>

    <%- include('./templates/footer.ejs') %>